:root{
	--bg: #111827;
	--panel: #1f2937;
	--line: #374151;
	--text: #f9fafb;
	--muted: #9ca3af;
	--primary: #6366f1;
	--hover: #374151;
	--primeHover: #3B6161;
  --alert-text: #a42834;
  --alert-bg:#f8d7da;
  --success-text: #073b11;
  --success-bg:#b1e8c1;
  --header-height: 88px;
  --input-border-radius:12px;
  --container-border-radius:12px;
  --button-border-radius:8px;
	
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/images/clouds_STDB.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text);
    
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	z-index: 1000;
}

/*Top nav with dropdown option*/
.topNav{
	position: fixed;
	display: inline-block;
}
.headerNav-content {
	display: none;
	position: absolute;
	right:0;
	background-color: var(--panel);
	color: var(--muted);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 10px 8px;
}
.headerNav-content.btn{
	display:block; 
	width:100%;
	padding:10px 12px;
	margin:0;
	text-align:left;
	text-decoration:none;
	color:var(--text);
	border-radius:0;
	background:none;
	border:none;
	cursor: pointer;
}
.headerNav-content.btn:hover{
	background:var(--hover);
	color:var(--text);
}
.headerNav:hover .headerNav-content {
	display:block;
}

.header-spacer {
	height: var(--header-height);
}



.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: rgba(17, 24, 39, 0.35);
    border: 2px solid var(--line);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: var(--container-border-radius);
    display: none;
}

.form-box.active{
    display: block;
}
  
h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    padding: 12px;
    background: transparent;
    outline: none;
    border: 2px solid var(--line);
    border-radius: var(--input-border-radius);
    font-size: 16px;
    color: var(--text);
    margin-bottom: 20px;
}

.select-input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid var(--line);
    border-radius: var(--input-border-radius);
    font-size: 16px;
    color: var(--muted);
    padding: 0px 45px 0px 16px;

    /* !!!!!!!!allow full custom styling cross-browser */
    appearance: none;
}
.btn {
	padding:8px 12px;
	border:1px solid var(--line);
	background:#374151;
	border-radius: var(--button-border-radius);
	cursor:pointer;
	color:var(--text);
}
.btn.primary {
	background:var(--primary);
	color:white;
	border-color:var(--primary);
}
.btn:hover {
    background: var(--bg);
}
.btn.primary:hover {
	background: none;
}

button { 
    width: 100%;
    padding: 12px;
    background: var(--line);
    border: none;
    border-radius: var(--button-border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--text);
    font-weight: 600;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: var(--bg);
}

p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: var(--link);
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: var(--alert-bg);
    border-radius: var(--container-border-radius);
    font-size: 16px;
    color: var(--alert-text);
    text-align: center;
    margin-bottom: 20px;
}
.success-message {
    padding: 12px;
    background: var(--success-bg);
    border-radius: var(--container-border-radius);
    font-size: 16px;
    color: var(--success-text);
    text-align: center;
    margin-bottom: 20px;
}